$grey: #6c7279;
$grey_lht: #4d4f66;
$white: #ffffff;
$purple: #2d2f4a;
$red: #e84545;
$black: #2d3033;
$purple_dp: #53354a;
$purple_ft: #3a3e64;
$purple_cr: #313454;

$header_height: 100px;

$brealpont_sm: 575px;
$brealpont_md: 767px;
$brealpont_lg: 991px;
$brealpont_xl: 1199px;
