<div class="container" id="features">
    <section class="features">

        <div class="features__item">
            <img class="features__icon" src="img/features-1.png" alt="Feature-1">
            <h4 class="features__title">Easily Customised</h4>
            <div class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
            </div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features-2.png" alt="Feature-2">
            <h4 class="features__title">Responsive REady</h4>
            <div class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
            </div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features-3.png" alt="Feature-3">
            <h4 class="features__title">Modern Design</h4>
            <div class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
            </div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features-4.png" alt="Feature-4">
            <h4 class="features__title">Clean Code</h4>
            <div class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
            </div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features-5.png" alt="Feature-5">
            <h4 class="features__title">Ready to Ship</h4>
            <div class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
            </div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features-6.png" alt="Feature-6">
            <h4 class="features__title">Download for Free</h4>
            <div class="features__text">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
            </div>
        </div>

    </section> <!-- /.features -->
</div> <!-- /.container -->
