<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.min.css">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">

<title>ActiveBox</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Favicons -->
    <link rel="apple-touch-icon" sizes="76x76" href="img/Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/Favicons/favicon-16x16.png">
    <link rel="manifest" href="img/Favicons/site.webmanifest">
    <link rel="mask-icon" href="img/Favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
