<section class="reviews" id="reviews">
    <div class="container">

        <div class="reviews__slider" id="reviewsSlider">

            <div class="slick-item">
                <div class="reviews__item">
                    <div class="reviews__photo">
                        <img class="reviews__img" src="img/review-1.jpg" alt="review-1">
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">
                            “Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
                        </div>
                        <div class="reviews__author">
                            Susan Sims, Interaction Designer at XYZ
                        </div>
                    </div>
                </div> <!-- /.reviews__item -->
            </div><!-- /.slick-item -->

            <div class="slick-item">
                <div class="reviews__item">
                    <div class="reviews__photo">
                        <img class="reviews__img" src="img/review-1.jpg" alt="review-1">
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, molestias earum ipsa ipsam nihil dolorem consequatur laudantium, velit animi quaerat quam ducimus. Saepe officia sunt inventore aliquam libero commodi ipsum?
                        </div>
                        <div class="reviews__author">
                            Susan Sims, Interaction Designer at XYZ
                        </div>
                    </div>
                </div> <!-- /.reviews__item -->
            </div><!-- /.slick-item -->

        </div> <!-- /.reviewsSlider -->

    </div> <!-- /.container -->
</section> <!-- /.reviews -->
