<section class="works" id="works">
    <div class="works__item">
        <img class="works__img" src="img/work-1.jpg" alt="Work-1">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-2.jpg" alt="Work-2">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-3.jpg" alt="Work-3">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-4.jpg" alt="Work-4">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-5.jpg" alt="Work-5">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-6.jpg" alt="Work-6">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-7.jpg" alt="Work-7">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
    <div class="works__item">
        <img class="works__img" src="img/work-8.jpg" alt="Work-8">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
</section> <!-- /.Works -->
