.copyright {
    padding: 28px 0;

    background-color: $purple_cr;
}

.copyright__text {
    text-align: center;

    line-height: 1.5;
    color: $grey
}

.copyright__text span {
    color: $white;
}
