.footer {
    background-color: $purple_ft;
}

.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $brealpont_md) {
        padding: 30px 0;
    }
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;

    @media (max-width: $brealpont_md) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__title {
    margin-bottom: 25px;

    font-size: 14px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

.footer__address {
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}











